* {
    padding: 0;
    margin: 0;
}

.container {
    height: 50em;
    display: flex;
    align-items: center
}

.text {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}